* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Share Tech Mono', monospace;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #464646;
}

.ticket {
    width: 30%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

#ticket-info {
    color: #52A751;
    border-right: 0.1em solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(30, end);
}

@keyframes typing {
    from { width: 0 }
    to { width: 80% }
}